.dashboard_cards_con {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-items: stretch;
}

.dashboard_card a {
    text-decoration: none;
    color: var(--color_accent_dark);
}

.dashboard_card {
    background-color: #eae3d2;
    padding: 60px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 2rem;
}

.dashboard_card img {
    width: 120px;
    margin-bottom: 10px;
}

.dashboard_card_1 { grid-area: 1 / 1 / 2 / 3; }
.dashboard_card_2 { grid-area: 1 / 3 / 2 / 5; }
.dashboard_card_3 { grid-area: 1 / 5 / 2 / 7; }
.dashboard_card_4 { grid-area: 2 / 1 / 3 / 4; }
.dashboard_card_5 { grid-area: 2 / 4 / 3 / 7; }